.option {
  cursor: pointer;
  left: calc(var(--x) * 1px);
  position: absolute;
  top: calc(var(--y) * 1px);

  > input {
    display: none;
  }

  > span {
    --border-width: 1px;
    --padding: 8px 12px 8px 0;
    --padding-checked: 8px 0 8px 12px;

    border-bottom: var(--border-width) solid black;
    box-sizing: border-box;
    display: inline-block;
    padding: var(--padding);
    transform: rotate(calc(var(--rotation) * 1deg));
    transform-origin: center;
    white-space: nowrap;
    width: max-content;

    &.enable-transitions {
      transition:
        border .3s ease-in-out,
        font-weight .3s ease-in-out,
        padding .3s ease-in-out;
    }

    &:has(+ input:checked) {
      --border-width: 2px;

      font-weight: 600;
      padding: var(--padding-checked);
    }

    &.invert-padding {
      padding: var(--padding-checked);

      &:has(+ input:checked) {
        padding: var(--padding);
      }
    }
  }
}
