.radio-knob-container {
  border-radius: 100%;
  height: calc(var(--size) * 1px);
  margin: 100px;
  position: relative;
  width: calc(var(--size) * 1px);

  > .connector {
    background-color: black;
    position: absolute;
    width: 1px;
  }
}
